

.navbar {
	background-color: blue;
	height: 50px;
}
/*front page header*/

h1 {
	font-family: 'Roboto Slab';
	font-weight: 400;
	line-height: 72px;
	text-align: center;
  border: 3px solid white;
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 a {
	text-decoration: none;
	color: steelBlue;
}

h1 a:hover {
	color: #E36E40;
}

body {
  background-color: lightSteelBlue;
	/*background-image: url('http://www.mateflex.com/assets/Courts/_resampled/CroppedImage1200533-Web7.jpg);opacity:0.5;
	background-repeat: no-repeat;
	background-size: 100%;*/
  text-align: center;
	margin: 50px auto 0;
	padding-top: 50px;
}

.home {
  margin: 30vh
}

/*form*/
.main-form {
	margin-top: 20px;
	text-align: center;
}

.page2-header {
	margin-top: 50px;
	color: #E36E40;
	margin-right: 50px;
}


#container {
	text-align: center;
}


/*buttons*/

.button1 {
	margin-top: 40px;
	margin-right:15px;
	border: 1px solid black;
}

.button2 {
	margin-top:40px;
	margin-left:15px;
	border: 1px solid black;
}

a {
	text-decoration: none;
}

/*form fields*/

select {
	text-align:center;
	width: 40%;
	margin-left: 40%;
	margin-right: 30%;
}

#submit {
	width: 20%;
	float: left;
	text-align: center;
	display: inline-block;
	margin-left: 30%;
	margin-right: 30%;
	border: 1px solid darkGrey;
}

#addplayerbutton {
	width: 20%;
	margin-top: 100px;
	border: 1px solid darkGrey;
}

#cancelreview {
	margin-right:180px;
	border: 1px solid darkGrey;
}
#cancelplayer {
	margin-right: 100px;
	border: 1px solid darkGrey;
}

input {
	width: 40%;
	box-sizing: border-box;
	display: inline-block;
}

#review-details {
	padding-top: 15px;
	padding-bottom: 300px;
  resize: none;
	box-sizing: border-box;
	width: 80%;
  border: 1px solid steelBlue;
	margin-left: 30%;
	margin-right: 30%;
}

#column {
	margin-left: 30%;
	margin-right: 30%;
}


.add-player {
	margin: 150px;
}
